@page "/"
@using BlazorFirstExample.Components

    <div style="max-width:600px">
        <CustomInput ID="firstname">First Name</CustomInput>
        <CustomInput ID="lastname">Last Name</CustomInput>
        <CustomInput ID="number">Phone Number</CustomInput>
    </div>
